/*EJERCICIO 1HTML*/
body {
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2 {
    color: #4A90E2;
}

.parrafo2 {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 1rem 0;
    font-size: 1.5rem;
    line-height: 1.5;
}

.acronimo {
    font-family: monospace;
    font-size: .85rem;
}

.parrafo {
    width: 80%;

}

blockquote {
    color: #666666;
    font-family: serif;
    font-size: 1.2rem;
    font-style: italic;
}

/*EJERCICIO 2HTML*/
table {
    width: 67%;
    border-collapse: collapse;
    padding-top: 2rem;
  }
  caption {
    padding-bottom: 1rem;
    font-weight: bold;
    text-align:left
  }

  td, th {
    border: .5px solid black;
    padding: 0.5rem;
  
  }

  .pie {
    border: 0;
  }

  thead {
    background-color: #3c89ba;
    color: #fff;
  }

  .category {
    background-color: #fffbcf;
  }

  .version {
    font-size: 130%;
    text-align: center;
  }

  td.Tag1 {
    border: 1px solid rgba(180, 180, 180, .3);
    border-radius: 4px;
    padding: .25rem;
    background-color: #eee;
  }

  td.rojo {
    border-color: rgba(255, 0, 0, 0.3);
    background-color: rgba(255, 0, 0, 0.15);
  }

/*EJERCICIO 3HTML*/
b {
  font-weight: bold;
}

.cualquiera {
  font-weight: bold;
  font-size: 2rem;

}

ul {
font-family: 'Courier New', Courier, monospace;
font-weight: bolder;
color: crimson;

}

/*EJERCICIO 3.1HTML*/

h3 {
  color: 4A90E2;
}

#texto1 {
  line-height: 50px;
}

#foto1 {
  width: 380px;
  float: left;
   
}

.espaciado {
  margin-top: 90px;
}
#texto2 {
  line-height: 50px;
}

#foto2 {
  width: 380px;
  float: left;
}

/*EJERCICIO 3.2HTML*/


.datos {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  width: 400px;
}

input {
  border: 1px solid black;
  border-radius: 18px;
  background-color:#f6f6f6;
}

textarea {
  border: 1px solid black;
	border-radius: 18px;
	background-color:#f6f6f6;			
	margin:8px 0;
}

button {
  border: 1px solid black;
	border-radius: 18px;
	background-color:#f6f6f6;	 
}
